.modal {
  width: 80%;
  max-width: 500px;
  border: none;
  border-radius: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
